@import url(https://fonts.googleapis.com/css?family=Roboto:500,700, https://fonts.googleapis.com/css?family=Barrio);

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 500;
  height: 100%;
}

body {
  text-align: center;
  color: #222;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 1em;
}

body h1 {
  font-size: 4em;
  font-family: 'Barrio', cursive;
  margin-top: 0;
  padding: .25em;
}

header {
    background-image: url("../img/shoppingcartbackground.png");
}

footer {
    background-image: url("../img/shoppingcartbackground.png");
}

.row {
  padding-bottom: 1em;
  padding-top: 1em;
  margin: auto;
}

.col-sm-4 .img-responsive {
  max-height: 200px;
  margin:auto;
}

.price {
  font-size: 1.5em;
}

#vouchers {
  max-height: 200px;
  margin:auto;
  margin-bottom: 1em;
}

#shoppingCartDiv{
  margin-bottom: 1em;
}

#discount {
  color: red;
}

#sale {
  color: red;
}

}
